body {
}

td {
    border-radius: 5px;
    border-width: 1px 1px 1px 1px;
    padding: 1px 1px 1px 1px;
    margin: 0px 0px 0px 0px;
    width: 100px;
    height: 50px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

input {

}

.navButton {
    border-radius: 5px;
    border-width: 1px 1px 1px 1px;
    background-color: #fff;
    color: #44f;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    height: 100%;
    background-color: #9d9;
}

.dayLabel {
    border-radius: 7px;
    border-width: 1px 1px 1px 1px;
    background-color: #fff;
    color: #44f;
    font-family: 'Times New Roman', Times, serif;
    background-color: #bbf;
}

.weekCell {
    background-color: #bbf;
    border-radius: 5px;
    border-width: 1px 1px 1px 1px;
    border-color: white;
    font-family: 'Times New Roman', Times, serif;
    color: #44f;
    font-size: 12px;
}

.addCell {
    border-radius: 3px;
    border: 1px solid black;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    color: #44f;
}

.addTodayCell {
    border-radius: 3px;
    border: 1px solid black;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    color: #d33;
}

.appButton {
    border-radius: 3px;
    border: 1px solid green;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    width: 100%;
    color: #44f;
}

.newAppTextBox {
    border-radius: 5px;
    border-width: 1px 1px 1px 1px;
    font-family: 'Times New Roman', Times, serif;
    width: 200px;
}

.newAppButton {
    border-radius: 5px;
    border-width: 1px 1px 1px 1px;
    color: #44f;
    font-family: 'Times New Roman', Times, serif;
    width: 200px;
    background-color: #9d9;
}